{% extends 'weather/base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <h2>Your Search History</h2>
        {% if history %}
            <table class="history_table">
                <thead>
                    <tr>
                        <th>Місто</th>
                        <th>Температура</th>
                        <th>Опис</th>
                        <th>Дата пошуку</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in history %}
                        <tr>
                            <td>{{ entry.city }}</td>
                            <td>{{ entry.temperature }}°C</td>
                            <td>{{ entry.description }}</td>
                            <td>{{ entry.search_date|date:"Y-m-d H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no search history.</p>
        {% endif %}
    {% else %}
        <h2>Welcome to the Weather App!</h2>
        <p>Use the navigation menu to explore the app.</p>
    {% endif %}
{% endblock %}
